rm -fr configure
autoconf configure.in > configure
chmod +x ./configure
#./configure
#./configure --with-lockserver=yes
#./configure --with-Objectivity=/afs/cern.ch/sw/lhcxx/specific/redhat61/gcc-2.95.2/Objectivity/6.1  --with-HepODBMS=/afs/cern.ch/sw/lhcxx/specific/redhat61/gcc-2.95.2/HepODBMS/0.3.2.9 --with-ConditionsDB=/afs/cern.ch/sw/lhcxx/specific/redhat61/gcc-2.95.2/ConditionsDB/0.2.1.0 --with-HepUtilities=/afs/cern.ch/sw/lhcxx/specific/redhat61/gcc-2.95.2/HepUtilities/0.5.0.0
./configure --with-Objectivity=/afs/cern.ch/sw/lhcxx/specific/redhat61/gcc-2.95.2/Objectivity/6.1  --with-HepODBMS=/afs/cern.ch/sw/lhcxx/specific/redhat61/gcc-2.95.2/HepODBMS/0.3.2.9 --with-ConditionsDB=/afs/cern.ch/sw/lhcxx/specific/redhat61/gcc-2.95.2/ConditionsDB/0.2.1.0 --with-HepUtilities=/afs/cern.ch/sw/lhcxx/specific/redhat61/gcc-2.95.2/HepUtilities/0.5.0.0 --with-lockserver=lockcomp
